

<form (submit)="createProperty(f)" #f="ngForm">
    <div class="container">
        <div class="jumbotron">
            <h2>Register Property</h2>
            <br>
            <p>Please fill this form to register the property</p>

            <hr>

            <label for="pname"><b>Property Name</b></label><br>
            <input type="text" placeholder="Property Name" name="pname" id="pname" required ngModel><br>

            <label for="location"><b>Property Location</b></label><br>
            <input type="text" placeholder="Location" name="location" id="location" required ngModel><br>

            <label for="rent"><b>Property Rent</b></label><br>
            <input type="text" placeholder="Rent" name="rent" id="rent" required ngModel><br>
            <br>

            <label for="leasetime"><b>Property Lease Time</b></label><br>
            <input type="text" placeholder="Leasetime (In Months)" name="leasetime" id="leasetime" required ngModel><br>
            
            <input type="file" name="imageurl" (change)="showPreview($event)">
           <!-- <button (click)="save()">Save</button> -->
            
                
            <div class="text-center">
                <button type="submit" class="registerbtn" >Register</button>
            </div>

        </div>
    </div>
</form>

<!-- <div *ngIf="currentFileUpload" class="progress">
    <div class="progress-bar progress-bar-info progress-bar-striped"
      role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
      aria-valuemin="0" aria-valuemax="100"
      [ngStyle]="{width:progress.percentage+'%'}">
      {{progress.percentage}}%</div>
  </div>
   
  <label class="btn btn-default"> <input type="file"
    (change)="selectFile($event)">
  </label>
   
  <button class="btn btn-success" [disabled]="!selectedFiles"
    (click)="upload()">Upload</button> -->